.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4.8rem;
    align-items: center;
    z-index: 10;

    &--light {
        color: white;
    }

    &__logo {
        width: 5rem;
    }

    &__nav {
        display: flex;
        list-style: none;

        & li:not(:last-of-type){
            margin-right: 4.6rem;
        }
    }
}
