.info{
    display: flex;
    justify-content: space-between;
    padding-right: 3%;

    &--reversed{
       flex-direction: row-reverse;
       padding-left: 4.8rem;
       padding-right: 0; 

       & .info__image{
        border-radius: 329px 0 0 329px ;
       }
    }

    &__image,
    &__text {
        width: 50%;
    }

    &__image {
        border-radius: 0 329px 329px 0;
    }

    &__headline {
        margin-top: 4rem;
    }
}